/*@media screen and (min-width: 800px) {*/

@media screen {

    html, body {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        display: table;
        font-weight: 100;
        font-family: 'Arial';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    select {
        padding: 3px;
        border-radius: 4px;
        width:150px !important;
    }

    input[type="text"] {
        width:160px;
        padding: 2px;
    }

    input[type="submit"] {
        white-space:nowrap;

        color:#000000;
        border-style: solid;
        border-color: #BFBFBF !important;
        border-width: 1px;
        margin:5px;
        font-size: 12px;
        padding-left:11px;
        padding-right:11px;
        padding-top:5px;
        padding-bottom:5px;
        background-color: #FFFFFF;
        border-radius: 6px;
        cursor:pointer;
    }

    input[type="submit"]:hover {
        border-style: none;
        color:#FFFFFF;
        padding-left:12px;
        padding-right:12px;
        padding-top:6px;
        padding-bottom:6px;
        background-color: #58ACFA;

    }

    input[type="password"] {
        width:160px;
        padding: 2px;
    }

    input[type="date"] {
        width:160px;
        padding: 2px;
    }

    input[type="radio"] {
        margin-left:10px;
        margin-right:10px;
        width:1em;
        height:1em;
    }

    textarea {
        max-width: 300px;
    }

    textarea.form-control {
        font-size: 30pt;
    }

    label {
      max-width: 140px;
      font-size: 12px;
      font-weight: lighter !important;
      text-decoration: none;
    }

    .limiter {
        height:80px !important;
        margin-top: 10px;
        text-align:center;
        min-width:40px;
        max-width:300px;
        overflow-x:hidden;
        overflow-y:hidden;
        vertical-align: middle;
    }

    .firstlimiter {
        height:80px !important;
        margin-top: 10px;
        text-align:center;
        min-width:300px;
        max-width:500px;
        overflow-x:hidden;
        overflow-y:hidden;
        vertical-align: middle;
    }

    .secondlimiter {
        text-align:left;
        min-width:300px;
        max-width:500px;
        overflow-x:hidden;
        overflow-y:hidden;
        vertical-align: middle;
    }

    .thirdlimiter {
        height:80px !important;
        margin-top: 10px;
        text-align:left;
        min-width:300px;
        max-width:500px;
        overflow-x:hidden;
        overflow-y:scroll;
        vertical-align: middle;
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

    .container {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        background: linear-gradient(#58ACFA, #81DAF5);

    }

    .content {
        /*margin:10px;*/
        max-width:900px;
        text-align: center;
        display: inline-block;
        padding-left:15px;
        padding-right:15px;
        padding-top:15px;
        padding-bottom:35px;
        border-radius: 25px;
        background: linear-gradient(#FBFBEF, #F3E2A9);
    }

    .title {
        /*text-align: left !important;*/
        font-family: 'Lato';
        font-size: 56px;
        margin-bottom: 15px;
        color:#323232;
    }

    #titlespace {
        width:850px;
        margin-right:auto;
    }

    #buttonspace {
        height:30px;
        width:150px;
        margin-right:auto;
        margin-bottom: 20px;;
    }

    .designertext {
        font-size: 12px;
        color:#323232;
    }

    .labeltext {
        margin-top:4px;
        font-size: 12px;
        color:#323232;
    }

    .labeltextsmall {
        margin-top:4px;
        font-size: 11px;
        color:#323232;
    }

    .labeltextleft {
        margin-right:25%;
        margin-top:4px;
        font-size: 12px;
        color:#323232;
    }

    .windowstyle {

        margin-top: 15px;
        margin-bottom: 15px;
        height: 600px;
        min-width:700px;
        width:100%;
        background-color: #FFFFFF;
        border-style:solid;
        border-color:#BDBDBD;
        border-width:2px;
        overflow-x: scroll;
        overflow-y: scroll;

    }

    .buttonitesmall {

        white-space:nowrap;

        color:#000000;
        border-style: solid;
        border-color: #BFBFBF !important;
        border-width: 1px;
        margin:5px;
        font-size: 12px;
        padding-left:10px;
        padding-right:10px;
        padding-top:4px;
        padding-bottom:4px;
        background-color: #FFFFFF;
        border-radius: 6px;
        cursor:pointer;

        transition: background-color .25s ease-in-out;
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;

    }

    .buttonitesmall:hover {

        border-style: none;
        color:#FFFFFF;
        padding-left:11px;
        padding-right:11px;
        padding-top:5px;
        padding-bottom:5px;
        background-color: #58ACFA;

    }

    .buttonite {

        white-space:nowrap;
        color:#000000;
        border-style: solid;
        border-color: #BFBFBF !important;
        border-width: 1px;
        margin:5px;
        font-size: 12px;
        padding-left:12px;
        padding-right:12px;
        padding-top:6px;
        padding-bottom:6px;
        background-color: #FFFFFF;
        border-radius: 6px;
        cursor:pointer;

        transition: background-color .25s ease-in-out;
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;

    }

    .buttonite:hover {

        border-style: none;
        color:#FFFFFF;
        padding-left:13px;
        padding-right:13px;
        padding-top:7px;
        padding-bottom:7px;
        background-color: #58ACFA;

    }

    .buttonitelarge {

        white-space:nowrap;
        color:#000000;
        border-style: solid;
        border-color: #BFBFBF !important;
        border-width: 1px;
        margin:5px;
        font-size: 12px;
        padding-left:14px;
        padding-right:14px;
        padding-top:8px;
        padding-bottom:8px;
        background-color: #FFFFFF;
        border-radius: 6px;
        cursor:pointer;

        transition: background-color .25s ease-in-out;
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;

    }

    .buttonitelarge:hover {

        border-style: none;
        color:#FFFFFF;
        padding-left:15px;
        padding-right:15px;
        padding-top:9px;
        padding-bottom:9px;
        background-color: #58ACFA;

    }

    .buttoniteMega {

        white-space:nowrap;
        color:#000000;
        border-style: solid;
        border-color: #BFBFBF !important;
        border-width: 1px;
        margin:5px;
        font-size: 24px;
        padding-left:60px;
        padding-right:60px;
        padding-top:12px;
        padding-bottom:12px;
        background-color: #FFFFFF;
        border-radius: 12px;
        cursor:pointer;

        transition: background-color .25s ease-in-out;
        -moz-transition: background-color .25s ease-in-out;
        -webkit-transition: background-color .25s ease-in-out;

    }

    .buttoniteMega:hover {

        border-style: none;
        color:#FFFFFF;
        padding-left:61px;
        padding-right:61px;
        padding-top:13px;
        padding-bottom:13px;
        background-color: #58ACFA;

    }

    form {

        padding-right:30px;

    }


    .formstyle {
        border-collapse: collapse;
        text-align:left;
        padding-left:6px;
        padding-right:6px;
        border-radius: 2px;

    }

    .formstyle2 {
        border-collapse: collapse;
        width:100%;
        padding-left:6px;
        padding-right:6px;
        border-radius: 2px;

    }

    .formstyle3 {
        border-collapse: collapse;
        width:100%;
        padding-left:6px;
        padding-right:6px;
        border-radius: 2px;

    }

    .formstyle2 tr{vertical-align: middle}

    .formstyle2 tr:nth-child(odd) {background-color: #F2F2F2}

    .formstyle td {
        color:#323232;
        border-style:none;
        padding: 10px;
        max-width:150px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        vertical-align: text-bottom;
    }

    .formstyle2 td {
        color:#323232;
        border-style:none;
        padding: 10px;
        max-width:100px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        vertical-align: text-bottom;
    }

    #containerArea {

            width:90%;
            margin-left:auto;
            margin-right:auto;

    }

    #line {

            height:1px;
            width:90%;
            background: #BFBFBF;
            margin-left:auto;
            margin-right:auto;
            margin-top:-10px;
            margin-bottom:30px;

    }

    #formelement {

        text-align:center;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:10px;
        display:inline-block;
        min-width:190px;

    }


    #selectorbox {

        text-align:center;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:15px;

    }

    #emailer {

        margin-left:5px;
    }

    .smallcolumn {

        width:30% !important;

    }

}

@media print {

    html, body {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: 'Arial';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    select {
        display:none;
    }

    input[type="text"] {
        display:none;
    }

    input[type="password"] {
        display:none;
    }

    td {
        color:#323232;
        min-width: 40px;
        vertical-align: text-bottom;
    }

    label {
        font-size: 12px;
        margin-bottom:-10px;
        font-weight: lighter;
    }

    a {
        display:none;
    }

    input {
        display:none;
    }

    .designertext {
        font-size: 12px;
        font-weight: bold;

    }

    .row {

        margin:0px;

    }

    #formelement {

        padding: 5px;
        margin: -5px;

    }

    #limiter {

        padding: 0px;
        margin: 0px;

    }

    #thirdlimiter {            
        padding: 0px;
        margin: 0px;

    }

    .buttonite {

        display:none;

    }

    .buttonitesmall {

        display:none;

    }

    #breaker1 {

    }

    #breaker2 {

    }

}